<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load custom_filters %}
    <h2>Здравствуй, {{ user|name_lastname }}. Новая <a href="http://{{ site }}{{ post.get_absolute_url }}">статья</a> в твоём любимом разделе!</h2>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content|censor|truncatechars:50 }}</p>
    <p>Категории: {{ post.category.all|join:', ' }}</p>
</body>
</html>