{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header text-center text-white bg-dark">{{ post.title|censor }}</div>
    <div class="card-body">
      <p class="card-text text-start">{{ post.content|censor }}</p>
      {% if post.author.user == request.user %}
        <p class="card-text text-end">
          <a href="{{ post.get_update_url }}">Редактировать</a>
          <a href="{{ post.get_delete_url }}">Удалить</a>
        </p>
      {% endif %}
    </div>
    <div class="card-footer text-end">
      <small class="text-muted">
        Категории: {{ post.category.all|join:', ' }}.
        Автор: <a href="{% url 'accounts' post.author.user.pk %}">{{ post.author.user|name_lastname }}</a>.
        Добавлено {{ post.date_in|date:'d-m-Y в H:i:s' }}.
      </small>
    </div>
  </div>
  {% if post.comment_set.exists %}
    <div class="card mx-5 text-start">
      <div class="card-header">Комментарии</div>
        <ul class="list-group list-group-flush">
          {% for comment in post.comment_set.all %}
            <li class="list-group-item">
              <h6><a href="{% url 'accounts' comment.author.pk %}">{{ comment.author|name_lastname }}</a>:</h6>
              <p>{{ comment.content|censor }}</p>
              <div class="text-end"><small class="text-muted">{{ comment.date_in|date:'d-m-Y в H:i:s' }}</small></div>
            </li>
          {% endfor %}
        </ul>
    </div>
  {% endif %}
{% endblock content %}